# .NET
bin/
obj/
*.user
*.suo
.vs/
*.csproj.user

# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Docker
.dockerignore

# IDE
.idea/
*.swp

# Secrets
appsettings.Development.json
api.out.log
api.err.log
